:root {
  --background-color-main: #ffffff;
  --background-color-secondary: #f5f4fa;
  --background-color-axcent: #2f303a;
  --font-color-main: #212121;
  --font-color-secondary: #757575;
  --font-color-axcent: #ffffff;
  --color-axcent: #2196f3;
  --font-size-base: 14px;
  --font-size-in-section-title-st: 16px;
  --font-size-in-section-title-pf: 18px;
  --margine-main: 50px;
  --margine-secondary: 30px;
  --letter-spacing-base: 0.03em;
  --letter-spacing-title: 0.06em;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: var(--background-color-main);
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 24px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-logo {
  text-decoration: none;
  letter-spacing: var(--letter-spacing-base);
  line-height: 1.19;
  margin-right: 93px;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  color: var(--color-axcent);
  font-weight: 700;
  font-size: 26px;
}

.logo-black {
  font-family: "Raleway", sans-serif;
  color: var(--font-color-main);
  font-weight: 700;
  font-size: 26px;
}

.navigation-list {
  display: flex;
}

.navigation-item {
  margin-right: var(--margine-main);
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-link {
  text-decoration: none;
  font-weight: 500;
  font-size: var(--font-size-base);
  color: var(--font-color-main);
  letter-spacing: 0.02em;
  line-height: 1.14;
}

.navigation-link:hover,
.navigation-link:focus,
.current-link {
  color: var(--color-axcent);
}

.header-contacts-list {
  display: flex;
}

.header-contact-item {
  margin-right: var(--margine-main);
}

.header-contact-item:last-child {
  margin-right: 0;
}

.header-contact-link {
  text-decoration: none;
  font-weight: 500;
  font-size: var(--font-size-base);
  color: var(--font-color-secondary);
  letter-spacing: 0.02em;
  line-height: 1.14;
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--color-axcent);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero {
  background-color: var(--background-color-axcent);
  padding-top: 200px;
  padding-bottom: 200px;  
}

.hero-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--font-color-axcent);
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: var(--letter-spacing-title);
  margin-bottom: 30px;
}

.hero-button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  background-color: var(--color-axcent);
  font-family: inherit;
  text-align: center;
  font-weight: 700;
  color: var(--font-color-axcent);
  font-size: var(--font-size-in-section-title-st);
  line-height: 1.88;
  letter-spacing: var(--letter-spacing-title);
  border-style: none;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.preferences {
  padding-bottom: 0;
}

.hidden-title {
  display: none;
}

.preferences-list {
  display: flex;
  justify-content: center;
}

.preferences-item {
  width: 270px;
  margin-right: var(--margine-secondary);
}

.preferences-item:last-child {
  margin-right: 0;
}

.preferences-title {
  text-transform: uppercase;
  color: var(--font-color-main);
  font-size: var(--font-size-base);
  line-height: 1.14;
  letter-spacing: var(--letter-spacing-base);
  margin-bottom: 10px;
}

.preferences-info {
  color: var(--font-color-secondary);
  font-size: var(--font-size-base);
  line-height: 1.71;
  letter-spacing: var(--letter-spacing-base);
}

.title {
  text-align: center;
  color: var(--font-color-main);
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: var(--letter-spacing-base);
  margin-bottom: var(--margine-main);
}

.services-list {
  display: flex;
  justify-content: center;
}

.services-item {
  margin-right: var(--margine-secondary);
}

.services-item:last-child {
  margin-right: 0;
}

.team {
  background-color: var(--background-color-secondary);
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-member {
  background-color: var(--background-color-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: var(--margine-secondary);
}

.team-member:last-child {
  margin-right: 0;
}

.team-member-info {
  padding: 30px 0;
  text-align: center;
}

.team-member-name {
  margin-bottom: 10px;  
  font-weight: 500;
  color: var(--font-color-main);
  font-size: var(--font-size-in-section-title-st);
  line-height: 1.19;
  letter-spacing: var(--letter-spacing-base);
}

.team-member-job {  
  color: var(--font-color-secondary);
  font-size: var(--font-size-in-section-title-st);
  line-height: 1.19;
  letter-spacing: var(--letter-spacing-base);
}

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: var(--margine-main);
}

.filter-item {
  margin-right: 8px;
}

.filter-item:last-child {
  margin-right: 0;
}

.filter-button {
  cursor: pointer;
  background-color: var(--background-color-secondary);
  border-radius: 4px;
  border: none;
  font-family: inherit;
  padding: 6px 22px;
  font-weight: 500;
  font-size: var(--font-size-in-section-title-st);
  color: var(--font-color-main);
  line-height: 1.63;
  letter-spacing: var(--letter-spacing-base);
  text-align: center;
}

.current-btn,
.filter-button:active {
  background-color: var(--color-axcent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--font-color-axcent);
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--margine-secondary);  
}

.figurecaption {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.product-name {
  font-size: var(--font-size-in-section-title-pf);
  color: var(--font-color-main);
  line-height: 2;
  letter-spacing: var(--letter-spacing-title);
  margin-bottom: 4px;
}

.product-type {
  font-size: var(--font-size-in-section-title-st);
  color: var(--font-color-secondary);
  line-height: 1.88;
  letter-spacing: var(--letter-spacing-base);
}

.footer {
  background-color: var(--background-color-axcent);
  padding: 60px 0;
}

.footer-logo {
  text-decoration: none;
  letter-spacing: var(--letter-spacing-base);
  line-height: 1.19;
}

.logo-white {
  font-family: "Raleway", sans-serif;
  color: var(--font-color-axcent);
  font-weight: 700;
  font-size: 26px;
}

.footer-addresses {
  margin-top: 20px;
}

.physical-address {
  font-weight: 400;
  font-style: normal;
  color: var(--font-color-axcent);
  font-size: var(--font-size-base);
  line-height: 1.71;
  letter-spacing: var(--letter-spacing-base);
  margin-bottom: 9px;
}

.footer-contact-item:first-child {
  margin-bottom: 9px;
}

.footer-contact-link {
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-size: var(--font-size-base);
  line-height: 1.71;
  letter-spacing: var(--letter-spacing-base);
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--color-axcent);
}
